{% extends "template.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}
  <h1 class="govuk-heading-xl">Play Team Fortress 2</h1>

  <p class="govuk-body-l">
    We run a <a href="https://www.teamfortress.com/">Team Fortress 2</a>
    server which you should play on.
  </p>

  <p class="govuk-body">
    Before you can play, you should:
    <ul class="govuk-list govuk-list--bullet">
      <li>
        download and install <a class="govuk-link" href="https://store.steampowered.com/about/">Steam</a> on Windows or Linux
      </li>
      <li>
        <a class="govuk-link" href="steam://install/440">install Team Fortress 2</a>
      </li>
    </ul>
  </p>
  <p class="govuk-body">
    {{ govukButton({
      text: "Connect to the TF2 server",
      href: "steam://connect/{{hostname}}:{{port}}",
      isStartButton: true
    }) }}
    {% from "govuk/components/details/macro.njk" import govukDetails %}

    {% call govukDetails({
      summaryText: "Connect via developer console"
    }) %}
      To connect to the TF2 server manually,
      <ul class="govuk-list govuk-list--bullet">
        <li>launch Team Fortress 2</li>
        <li>go to Settings &rarr; Keyboard; &rarr; Advanced&ellip;</li>
        <li>Check &ldquo;Enable developer console&rdquo; and save</li>
        <li>press the <kbd>`</kbd> or <kbd>~</kbd> key below <kbd>Esc</kbd></li>
        <li>type <code>connect {{hostname}}:{{port}}</code> and press <kbd>Enter</kbd>
      </ul>
    {% endcall %}
  </p>

{% endblock %}
