@use "pkg:govuk-frontend/dist/govuk/base" as * with (
  $govuk-font-family: (
    "Verdana",
    "Nunito Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif
  ),
  $govuk-functional-colours: (
    body-background: #f5e7de,
    brand: rgb(132, 59, 104)
  )
);
@use "pkg:govuk-frontend/dist/govuk/core";
@use "pkg:govuk-frontend/dist/govuk/objects/template";
@use "pkg:govuk-frontend/dist/govuk/objects/width-container";
@use "pkg:govuk-frontend/dist/govuk/objects/main-wrapper";

@use "pkg:govuk-frontend/dist/govuk/components/generic-header";
//@use "pkg:govuk-frontend/dist/govuk/components/footer";
@use "pkg:govuk-frontend/dist/govuk/components/skip-link";

@use "pkg:govuk-frontend/dist/govuk/components/button";
@use "pkg:govuk-frontend/dist/govuk/components/details";

@use "sass:color";

$app-code-color: #d13118;
li code,
caption code,
td code,
p code {
  padding: 1px 3px;
  color: $app-code-color;
  background-color: govuk-colour("black", $variant: "tint-95");
  @include govuk-font-size($size: 16);
  @include govuk-media-query($from: tablet) {
    padding: 2px 4px;
  }
}

$tf2-orange: #b35215;
.govuk-button {
  background-color: $tf2-orange;
  box-shadow: 0 2px 0 color.scale($tf2-orange, $lightness: 50%);

  &:hover {
    background-color: color.scale($tf2-orange, $lightness: 25%);
  }
}

.tf2-chat, .tf2-console {
  font-family: 'Verdana', 'sans-serif';
  font-weight: bold;
  color: #fbeccb;
  font-size: 13px;
  text-shadow: 1px 1px 0 #000;
  background-color: #5f5954;
  list-style-type: none;
  li { margin: 0.2em; }
}
.tf2-chat {
  outline: 1em solid #817b74;
  padding: 0.5em 0.5em;
  width: inherit;
  column-width: 300px;
}

li:has(> em) {
  list-style-type: '➤ ';
}
